.socialNetworks{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        margin: 0 1rem;
        border-radius: 50%;
        background-color: var(--color-primary);
    }  
    
    &__link,
    &:visited,
    &:active{        
        color: var(--color-neutral-primary);
    }
}
