.navbar{
    position: fixed;
    width: 100%;    
    top: 0;       
    font-size: 1.6rem;
    font-weight: 700;
    overflow: hidden;
    background-color: var(--color-neutral-primary);
    color: var(--color-secondary);
    
    @media screen and (min-width: 768px) {   
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    
    &__logo{
        
        
    }

    &__menu{ 
        list-style: none; 
        margin: 0;
        padding: 0;       
        max-height: 0;      
        transition: all .5s ease-in-out;  
        font-size: 2em;
        font-weight: 500;
        background-color: var(--color-secondary);
        color: var(--color-neutral-primary);  

        @media screen and (min-width: 768px) {    
            display: flex;
            align-items: center;
            transition: none;  
            font-size: 1em;        
            font-weight: 500;      
            background-color: var(--color-neutral-primary);            
        }

        &--active{
            padding-bottom: 100vh;            
            max-height: 100vh; 

            @media screen and (min-width: 768px) {    
                padding-bottom: 0; 
            }    
        }
    }

    &__item-link, 
    &:visited, 
    &:active{        
        color: var(--color-neutral-primary);    
        text-decoration: none;

        @media screen and (min-width: 768px) {    
            color: var(--color-secondary);
        }   
    }

    &__item{ 
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;

        &--active{
            animation: fadeIn ease 2s;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
