.btn{
    padding: 1rem 3rem;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 6px;
    background-color: var(--color-primary);
    color: var(--color-neutral-primary);
    text-align: center;
    min-width: 200px;
    
    &:visited, :active{
        color: var(--color-neutral-primary);
    }

    &--important{
        background-color: var(--color-constrast);        
       
    }
}