*,
*::before,
*::after{
  box-sizing: border-box
}
:root{
  --color-primary: hsl(231, 69%, 60%);
  --color-secondary: hsl(229, 31%, 21%); 
  --color-neutral-primary: white;
  --color-neutral-secondary: hsl(229, 8%, 60%);
  --color-constrast: hsl(0, 94%, 66%);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
  font-size: 1.8rem;  
  font-family: 'Rubik', sans-serif;  
  background-color: var(--color-neutral-light); 
}

main{
  margin: 0 auto;
  max-width: 900px;
}

a{
   text-decoration: none;
}

ul{
  list-style: none;
}
img{
  max-width:100%;
  height: auto;  
}